#camera-video {
    width: 100px;
    height: 100px;
}

#remote-stream {
    width: 100px;
    height: 100px;
}


#local-share-stream {
    width: 100px;
    height: 100px;
}
#remote-share-stream {
    width: 100px;
    height: 100px;
}